# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
# ref: https://jekyllrb.com/docs/configuration/
title: robertzhai的个人博客
email: robertzhai131@163.com
description: > # this means to ignore newlines until "baseurl:"
  我个人网名robertzhai,从事IT行业。资深后端，业余前端和设计，欢迎和大家学习交流心得。
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://robertzhai.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  robertzhai




# Build settings
markdown: kramdown
theme: minima
google_analytics: UA-87177503-1
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
